@font-face {
    font-family: "方正宋刻本秀楷简体";
    src: url("方正宋刻本秀楷简体.eot"); /* IE9 */
    src: url("方正宋刻本秀楷简体.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    
    url("方正宋刻本秀楷简体.woff") format("woff"), /* chrome、firefox */
    url("方正宋刻本秀楷简体.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    
    url("方正宋刻本秀楷简体.svg#方正宋刻本秀楷简体") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


