<div class="main">
  <div class="bar"></div>
  <div class="bg full animate"></div>
  <div class="app-item">
    <div class="app-item__logo-box">
      <div class="app-item__logo-box__logo" [ngStyle]="{'background': this.app.logoColor.str}">
        <div class="app-item__logo-box__logo__text">{{this.app.logoText}}</div>
      </div>
    </div>
    <div class="app-item__text-box">
      <div class="app-item__text-box__main-line">
        <div class="app-item__text-box__main-line__nickname animate">{{this.app.hero.nickname}}</div>
        <div class="app-item__text-box__main-line__app-name animate">{{this.app.appName}}</div>
      </div>
      <div class="app-item__text-box__desc animate">{{this.app.appDesc}}</div>
    </div>
  </div>
</div>
